body{
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
    background-color: #fff;}
ul, ol{
    list-style-type: none;
}
a{
    text-decoration-line: none;
}
header{
    width: 1440px;
    height: 72px;
}
    
.logo{
    font-family: "Raleway", sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    width: 115px;
    height: 24px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
span{
    color: #4d5ae5;
}
.nav{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
    width: 261px;
    height: 24px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.contacts{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.hero{
    width: 1440px;
    height: 600px;
    background-color: #2e2f42;
}
h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
button{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
}
button:hover{
    font-weight: 600;
    width: 170px;
    height: 51px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    font-weight: 600;
}
button:active{
    background-color: #404bbf; 
}
.feature{
    width: 1128px;
    height: 104px;
}
h3{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-team{
    width: 1440px;
    height: 732px;
    background-color: #f4f4fd;
}
h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
}
.team{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}